body{
	background-color: white;
  }

h1{
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 50px;
}

h3{
	color: green;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 2rem;
}
h2{
	color:green;
}
.yellowStar{
    color: #ffc700;
    font-size: 2.5rem;
}

.greyStar{
    color: #cccccc;
    font-size: 2.5rem;
}

#gmap_canvas{
	display:block;
	width: 50%;
	margin-left: 25%;
	height: 600px;
	text-align: center;
}

@media (max-width: 1400px){
	#gmap_canvas{
		height: 300px;
	}
}

.mapouter{
	position:relative;
	text-align:center;
	width:100%;
	margin-bottom: 30px;
}
.gmap_canvas {
	text-align: center;
	overflow:hidden;
	background:none!important;
	width:100%;
}

.slideContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.5);
    background: #000116;
    width: 1000px;
    min-height: 700px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255,0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.05);
}

.slider .slide .info h2{
    font-size: 2em;
    font-weight: 800;
}

.slider .slide .info p{
    font-size: 1em;
    font-weight: 400;
}

.navigation{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgb(117, 87, 87);
    cursor: pointer;
}

.prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.prev-btn:hover{
    background: rgb(136, 255, 0);
}

.next-btn:hover{
    background: rgb(136, 255, 0);
}

.next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;  
}

.slideSvg{
    fill: rgba(110, 255, 14,0.2);
}

 .navigation-visibility .slide-icon{
    z-index: 999;
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: rgba(255, 255, 255,0.3); 
} 


.navigation-visibility .slide-icon.active svg polygon{
    
    fill: rgba(110, 255, 14,1);
}

@media (max-width: 900px) {
    .slider{
        width: 100%;
    }
}

.mainParagraph{
	margin-left: 10%;
	margin-right: 10%;
	font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}


.scroll{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease-out;
}

.scroll.active{
    transform: translateY(0px);
    opacity: 1;
    transition: all 2s ease-out;
} 
 

.alone-grid{
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: start;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

@media (max-width: 700px){
    .alone-grid{
    grid-template-columns: auto;    
    }
}

.alone-grid-item{
    border: 5px ridge rgba(106, 129, 96, 0.3); 
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    transition: 0.2s;
}

.alone-grid-item :hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.2);
}

.alone-card-img{
    display: block;
    width: 100%; 
    border-radius: 20px;
    align-self: center;
    height: 300px;
}

.imc{
    border-radius: 20px;
}


.alone-card-img:hover{
    transform: scale(1.2);
    transition: all 0.7s ease-in-out;
}


.alone-card-content{
    padding: 3rem;
}

.alone-card-header{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-align: center;
}

.alone-card-text{
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.alone-card-btn{
    display: block;
    width: 100%;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: green;
    border: none;
    border-radius: 0.4rem;
    transition: 0.2s;
    cursor: pointer;
    letter-spacing: 00.1rem;
}

.alone-card-btn a{
    color: rgb(0, 128, 0);
}

.alone-card-btn :hover,
.alone-card-btn :active{
    background-color: rgba(0, 128, 0,0.3);
}

@media only screen and (max-width : 60em){
    body{
        padding: 3rem;
    }

    .alone-grid{
        grid-gap: 3rem;
    }
}

.top{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2rem;
    margin-right: 1rem;
    z-index: 999;
	opacity:0; 

    animation-name: example;
    animation-duration: 4s;
    animation-delay: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {margin-bottom: 2rem;}
    to {margin-bottom: 3rem;}
}

.top.visible{
	bottom: 32px;
	pointer-events: auto;
	opacity: 1;
}