body {
    background-position: center;
    background-size: cover;
}

.trip-form-container {
    position: absolute;
    left: 40%;
    top: 45%;
    width: 370px;
    background-color: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
    transform: translate(-50%, -45%);
    color: white;
    border-radius: 20px;
}

.trip-form-container fieldset {
    border: none;
    padding: 0px 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 60px black;
}

.trip-form-container label {
    line-height: 30px;
    font-size: 1.4rem;
}

.trip-form-container input,
#guides {
    width: 80%;
    box-sizing: border-box;
    display: block;
    outline: none;
    border: 1px solid hotpink;
    color: black;
    padding: 4px;
    border-radius: 15px;
    margin-left: 10px;
}


/*
.trip-form-container input{
    height:25px;
    width: 100%;
    padding-left: 10px;
    border: none;
    outline: none;
    border-bottom:2px solid rgb(0, 204, 255);
    background-color:white;
    border-radius: 5px;
}
*/

input:focus {
    transition: 0.1s;
    border: 3px solid rgb(19, 230, 19);
}

input[type="submit"],
input[type="reset"] {
    width: 25%;
    margin: 10px;
    background-color: blueviolet;
    border: 2px solid rgb(0, 204, 255);
    color: white;
    cursor: pointer;
}

.trip-form-container .input-container {
    position: relative;
}

.input-container i {
    position: absolute;
    top: 35px;
    right: 60px;
    color: black;
    visibility: hidden;
}

.input-container small {
    background-color: cornsilk;
    position: relative;
    width: fit-content;
    margin-top: 3px;
    margin-left: 13px;
    padding-left: 5px;
    border-radius: 3px;
    display: block;
    visibility: hidden;
}

.input-container.success input {
    border: 2px solid #3ecc71;
}

.input-container.success i.fa-check-circle {
    visibility: visible;
    color: #3ecc71;
}

.input-container.error input {
    border: 2px solid #e74c3c;
}

.input-container.error small {
    visibility: visible;
    color: red;
}

.input-container.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.input-container i#on {
    visibility: visible;
    right: 75px;
    cursor: auto;
}

.input-container i#off {
    visibility: hidden;
    right: 75px;
}