div.download {
    display: inline;
    width: 200px;
    float: right;
    position: relative;
    margin-right: 50px;
}

div.download ul.hidden {
    margin-top: 5px;
    display: none;
    position: absolute;
    z-index: 2;
    padding: 0;
}

div.download .row .col:hover {
    margin-bottom: 3px;
}

div.download .row {
    gap: 20px;
}

div.download ul.hidden li a {
    text-decoration: none;
    color: white;
}

div.download ul.hidden li {
    margin-top: 1px;
    background-color: rgb(2, 136, 58);
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 70px;
    line-height: 30px;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

div.download ul.hidden li:hover {
    background-color: rgb(1, 158, 66);
}

.modal-content {
    padding: 5px;
}